.input {
  display: inline-block;
  width: 550px;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 25px auto;

  input {
    border: none;
    font-size: 18px;
    width: 100%;
    outline: none;
    line-height: 44px;

  }

  .md-search {
    font-size: 26px;
    padding: 10px;
  }

  .md-setting-voice {
    font-size: 26px;
    padding: 10px;
  }

}


