@navigator-line-height: 50px;
.related {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;

  ul {
    display: flex;
    align-items: center;
    padding: 3px 30px;


    li {

      margin-right: 16px;
      height: @navigator-line-height;
      line-height: @navigator-line-height;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      a{
        text-decoration-line: none;
        color: gray;
      }
    }
  }

  .location {
    font-size: 30px;
    color: grey;
    margin: 5px 30px;

  }

  .footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid darkgrey;
    font-size: 13px;
  }

  .nav-left {
    display: inline-block;
    width: 30%;

  }

  .nav-right {
    float: right;
  }
}