.search {
  text-align: center;
  margin-top: 200px;

  header {
    img {
      height: 92px;
      width: 272px;
    }
  }
  button{
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    background-color: ghostwhite;

  }

}
footer{
  a{
    margin: 10px;
    text-decoration-line: none;
    font-size: 15px;
  }
}